@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

h2 {
  margin: 0%;
  padding: 0%;
  font-family: "Creepster", cursive;
  font-size: 150%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
